@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header {
  flex: 0 0 auto;
  background-color: #212429;
  margin-top: 45px;
  height: 88px;
  /* margin-bottom: -40px; */
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.noheader{
  flex: 0 0 auto;
  background: url(shini.jpg);
  width: 100%;
  
  /* position: absolute; */
  /* margin-top: 920px;
  height: 250px; */
}

.noheader2{
  flex: 0 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(255, 255, 255, 0.4) ), url(photos.jpg);
  width: 100%;
  max-height: 100%;
  /* filter: brightness(60%); */
  /* background-color:rgba(0, 0, 0, .5); */
  background-position: center center;
  /* определяет размер изображения на странице */
  background-size:cover;
  /* свойство устанавливает, будет ли повторяться изображение и каким образом */
  background-repeat: no-repeat;
  /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
  /* background-attachment: fixed; */
  /* text-shadow: -0   -1px 1px #000000,
  0   -1px 1px #000000,
 -0    1px 1px #000000,
  0    1px 1px #000000,
 -1px -0   1px #000000,
  1px -0   1px #000000,
 -1px  0   1px #000000,
  1px  0   1px #000000,
 -1px -1px 1px #000000,
  1px -1px 1px #000000,
 -1px  1px 1px #000000,
  1px  1px 1px #000000,
 -1px -1px 1px #000000,
  1px -1px 1px #000000,
 -1px  1px 1px #000000,
  1px  1px 1px #000000;; */

  text-shadow: 1px 1px 3px black;
}

.noheader2 h1{
  font-size: 50px;
  color: #ffffff;
  /* margin-bottom: -20px; */
  /* font-weight: bolder; */
}

.noheader2 h2{
  color: #faf7f7;
  /* filter: brightness(100%); */
  margin-bottom: -20px;
  margin-top: -20px;
  /* font-weight: bolder; */
}
/* .header h1 {
  text-align: center;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: -1%;
} */

.main {
  /* background-color: #fafafa; */
  background-color: #fff;
  flex: 1 0 auto;
}

.footer {
  background-color: #212429;
  /* flex: 0 0 auto; */
  /* display: inline; */
  /* min-height: 30%; */
  padding-top: 10px;
  /* justify-content: center; */
}


.logotype{
 max-width: 150px;
 max-height: 80px;
  margin: 20px;

  /* width: 120px;
  height: 60px; */
}

.containerius{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  justify-content: center;
 /* justify-content: space-between; */
  /* padding: 0 15px; */
}

.prawa{
  width: 100%;
  max-width: 1000px;
  /* margin: 0 auto; */
 
  padding: 10px 0px 10px 0px;
  /* height: 100%; */
  background-color: #212429;
  border-top: #a29a9a 1px solid;
  color:#fff;
  opacity: 0.4;
  font-family:'Times New Roman', Times, serif;
  /* justify-content: center; */
  /* text-align: center; */
}

.adres{
    color: #fff;
    /* display: inline; */
 
    /* background-color: #ff6000; */
   
    width: 300px;
    margin: auto 0px auto 0px;
    padding-top: 3px;
    padding-bottom: 3px;
  /* margin-left: 50px; */
  /* width: 350px; */
}

@media (max-width: 500px) {
  .logotype{
    /* background-color: #ff6000; */
    width: 120px;
  height: 60px;
  margin: auto 10% auto 10%;
  padding-top: 3px;
    padding-bottom: 3px;
  /* padding: 10px; */
  }
}

.number{
  color: #fff;
  /* background-color: #ff6000; */
  padding-top: 3px;
    padding-bottom: 3px;
  /* margin: auto 0px 5% 0px; */
  /* margin-bottom: 5%; */
  margin-top: auto;
  margin-bottom: auto;
  width: 180px;
}

.number a{
  color: white;
  text-decoration: none;
}

.seti{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}



.content {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  color: #212429;
  /* position:absolute; */
}
.content1{
  padding: 300px 0;
  width: 100%;
  height: 100%;
  color: #212429;
}

.zag{
text-align: center;
font-size:xx-large;
font-weight: bold;
margin: 30px 0px 30px 0px;
/* background-color: #ff6000; */
/* font-family: Arial; */
}

.zagkoles{
  text-align: center;
font-size:x-large;
font-weight: bold;
margin: 30px 0px 30px 0px;
}

.imgpreim{
  width: 50%;
  
  
}

.preim{
  display:flex;
  flex-flow: row wrap;
  align-content:center;
  justify-content:center;

}

.preim1{
  display:flex;
  flex-flow: row wrap;
  align-content:center;
  justify-content:center;
  margin-bottom: 25px;
}



.preim img{
width: 550px;
margin-top: 5px;
margin-bottom: 20px;

}

#shipa{
  min-width: 220px;
}

.preimblock{
width: 300px;
flex-wrap: wrap;
margin:10px;
padding: 10px;
/* background-color: #ff6000; */
}

.preimblock div{
  margin-left: 45px;
  
}

.preimblock img{
  width: 40px;
  height: 40px;
  float: left;
  
}

.preimblock1{
  width: 300px;
  flex-wrap: wrap;
  /* margin:10px;
  padding: 10px; */
  display: flex;
  align-items: center;
  text-align: center;
  
  /* background-color: #ff6000; */
}

.preimblock1 div{
  margin-left: 15px;
  margin-top: 5px;
}

.preimblock1 img{
  width: 60px;
  height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; 
}

.preimblock1 .cena{
/* display: flex; */
margin-left: auto;
margin-right: auto;
}

.newshin{
  /* max-width: 300px; */
  width: 35%;
  flex-wrap: wrap;
  margin:10px;
  padding: 10px;
  word-wrap:normal;
  min-width: 300px;
  /* background-color: #ff6000; */
  }

.newshin li{
  margin-bottom: 2px;
}

.abzacc{
  margin-bottom: 5px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  
}

.cena{
  font-size: large;
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

  .primer{
      display:flex;
      flex-flow: row wrap;
      
  align-content:center;
  justify-content:center;
  }

  .primer img{
    width: 250px;
  }


.preimblock div{
  margin-left: 45px;
}

.preimblock img{
  width: 40px;
  height: 40px;
  float: left;
  
}

.fotki{
  margin-bottom: 30px;
  background-color: #3f3f3f;
  
  /* width: 100%; */
  padding: 20px /*3vw*/;

  
}

.galerei{
  width: 10px;
  /* object-fit:contain; */
  object-fit: cover;
  height: 60vh;
  border: solid white 1px;
  border-radius: 10px;
}

.blokopisan{
  display: inline-block;
  width: 90%;
 margin-bottom: 5px;
  margin-left: 10%;
  /* background-color: #ff6000; */
  
  
  font-size: larger;
  font-weight:bolder;
  margin-top: 15px;
  
}
.blokopisan a{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight:bolder;
}

.redblock{
  background-color: red;
  display: inline;
  /* position: absolute; */
  color: white;
  padding: 5px;
  width: 15px;
  visibility: hidden;
}

/* .redblock1{
  background-color: red;
  display: inline;
  color: white;
  padding: 5px;
  width: 15px;
  margin-left: -25px;
  visibility: visible;
} */

.redblock1{
  background-color: red;
  display: inline;
  color: white;
  padding: 5px;
  width: 16px;
  margin-left: -25px;
  visibility: visible;
}

.blokopisan:hover .redblock {
  background-color: #FF7373;
}

.blokopisan:hover .redblock1 {
  background-color: #FF7373;
}

/* .opisanie .redblock1 :active{
  visibility: hidden;
} */

.opisanie{
  /* clip-path: polygon(0 0, 0 0, 0 0, 0 0); */
  /* clip-path: fill-box; */
  /* transform: scale(0); */
  display: none;
  margin-left: 10%;
  max-width: 85%;
  color: gray;
  margin-top: 5px;
  animation: showBlock 1s linear forwards;
  overflow-y: hidden;
  /* background-color: #ff6000; */
}
  .opisanie p{
    /* margin-top: 0px; */
    margin-bottom: 15px;
  }

#link1 .opisanie{
  display: block;
}

  @keyframes showBlock {
    0% {
      /* transform: translateY(100%);
       */
    }
    100% {
      /* transform: translateY();
       */
    }
  }
/* .gallery img{
  position: relative;
}

.img-naminks{
  position: relative;
} */

.dopuslug{
  /* background-color: #ff6000; */
  width: 100%;
  /* height: px; */
  margin-bottom: 10px;
  display:flex;
      flex-flow: row wrap;
      
  align-content:center;
  justify-content:center;
  padding: 10px 0px 10px 0px;
}

.blockDop{
width: 300px;
height: 350px;
/* background-color: aqua; */
margin: 2px;
text-align: center;
/* border: #000000 2px solid; */
/* border-radius: 20px; */
/* background-color:rgba(129, 128, 128, 0.7); */

}
.blockDop img{
  width: 100%;
  height: 90%;
  /* margin: 3px 3px 0px 3px; */
  /* margin: 5px; */
  padding: 14% 5px 3px 5px;
  background: white;
  transition: background 0.7s ease;
}

.opisDop{
  display: none;
  margin-top: -108%;
  /* color: #fff; */
  
}

.cenaDop{
  background-color: rgb(30, 27, 27);
  color: white;
}

.blockDop:hover .opisDop{
  display: block;
  color: #212429;
  /* opacity: 1; */

  font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;

}


.blockDop:hover img{
  /* margin: 0px; */
  /* opacity: 0; */
  /* background: linear-gradient(0deg, rgb(244, 247, 246), rgb(133, 140, 140)); */

  /* background: linear-gradient(0deg, rgb(244, 247, 246), rgb(80, 82, 82)); */
  background: rgb(73, 73, 82);
  
  /* opacity: 0.7; */
}


/* @keyframes showBlockEd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.conte {
    padding: 50px 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 35px;
    /* font-size: 2vh; */
    font-weight: bold;
    text-align: center;
    /* position:absolute; */
  }

.conte h3{
  font-size: x-large;
}

.conte p{
  font-size:medium;
  text-indent: 5%;
  margin-top: 10px;
}

  .conte img{
    width: 400px;
    height: 70px;
  }
  
#con {
    padding: 50px 0;
    width: 100%;
    height: 100%;
    color: #212429;
    /* position:absolute; */
    
    margin-top: -30%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
  }

p {
  margin-bottom: 40px;
}



.menusha{
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  
}


.submenu-link{
  word-wrap: normal;
  display: inline-block;
  width: 100px;
}

.submenu-link a{
  text-decoration: none;
  color: #404040;
}




  .topmenu:after {
  content: "";
  display: table;
  /* clear: both; */
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
  /* font-family: 'Open Sans', sans-serif; */
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
  text-decoration: none;
}
.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {
  /* content: "\f107"; */
  /* font-family: "FontAwesome"; */
  color: inherit;
  margin-left: 10px;
}
.submenu {
  /* margin-top: 5px; */
  background: #273037;
  position: absolute;
  left: 20px;
  top: 200%;
  z-index: 5;
  width: 180px;
  /* height: 400px; */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  /* border-bottom: 1px solid rgba(255,255,255,.1); */
  
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}



.numberus{
  font-weight: bolder;
  color: #F76767;
}

.burger{
  width: 30px;
  height: 25px;
  /* padding-bottom: -50px; */
}

.pagesik{
  display: inline-flex;
  /* background-color: #50b154; */
  padding-bottom: 15px;
 padding-right: 10px;
}

.pagesik a {
  text-decoration: none;
  color:#e4dfdf;
  
}

.pagesik:hover{
  border-bottom: 3px solid rgb(255, 47, 47);
}

#glaw{
  /* color: rgb(255, 47, 47); */
  text-shadow: 
  /* -0   -1px 0   #F76767,
  0   -1px 0   #F76767,
 -0    1px 0   #F76767,
  0    1px 0   #F76767,
 -1px -0   0   #F76767,
  1px -0   0   #F76767,
 -1px  0   0   #F76767,
  1px  0   0   #F76767,
 -1px -1px 0   #F76767,
  1px -1px 0   #F76767,
 -1px  1px 0   #F76767,
  1px  1px 0   #F76767,
 -1px -1px 0   #F76767,
  1px -1px 0   #F76767,
 -1px  1px 0   #F76767,
  1px  1px 0   #F76767; */

  -0   -1px 1px #F76767,
		 0   -1px 1px #F76767,
		-0    1px 1px #F76767,
		 0    1px 1px #F76767,
		-1px -0   1px #F76767,
		 1px -0   1px #F76767,
		-1px  0   1px #F76767,
		 1px  0   1px #F76767,
		-1px -1px 1px #F76767,
		 1px -1px 1px #F76767,
		-1px  1px 1px #F76767,
		 1px  1px 1px #F76767,
		-1px -1px 1px #F76767,
		 1px -1px 1px #F76767,
		-1px  1px 1px #F76767,
		 1px  1px 1px #F76767;
}

.navbar {
  position: fixed;
  z-index: 1;
  /* position: sticky; */
  /* top: 0; */
  /* position: relative; */
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #ffffff;
  /* background: #4a76a8; */
  box-shadow: 0 20px 16px -16px rgba(0,0,0,0.6);
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
  
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* background-color: #2ea521; */
  background-color: #fff;
  align-items: center;
  /* justify-items: center; */
  justify-content: center;
  /* align-content: center; */
  /* justify-content: space-between; */
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
  /* background-color: #4a76a8; */
  
}

.menu > li{
  margin-left: 50px;
}

.navbar__wrap .menu {
  display: flex;
  /* background-color: #a29a9a; */
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;

}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
 
 
  padding: 0 20px;
  /* color: rgba(255, 255, 255, 0.7); */
  color: #3f3f3f;
  /* background-color: #FF7373; */
}

.navbar__wrap .menu > li > a:hover {
  /* color: rgba(255, 255, 255, 1); */
}


.mesuba{
  display: none;
  /* visibility: hidden; */
 
 }

@media (max-width: 900px) {
  .navbar__wrap {
    
    justify-content:space-between;
    
  }

  

  
  

 .header{
  display: none;
 }
  .noheader2{
  margin-top: 8%;
 padding:20px 15px 20px 15px;
}

.noheader2 h1{
  font-size: 35px;
}

.noheader2 h2{
  font-size: 25px;
}

.pagesik{
 width: 100%; 
}

.numberus{
  /* width: 100%; */

}

.fotki{
  padding: 20px 10vw ;
}




 .menusha{
  visibility: hidden;
  /* background-color: red; */
 }

 .mesuba{
  display:block;
  margin-left: 25px;
  /* color: #000; */
  /* visibility: hidden; */
 }

 .mesuba .mensu{
  width: 50%;
  display: block;
  /* border: #000 solid 3px; */
 
 }

 .mensu a{
  color: #000;
  font-size: 18px;
 }

  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
    font-size:x-large;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    /* background-color: #fff; */
    background-color:#3f3f3f;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* background-color:#3f3f3f; */
    z-index: 300;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
    margin-left: 50px;
    /* border: 1px solid black; */
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content:left;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    

  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
    
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}

.link-hover-solid a {
  display: inline-block;
  color: rgba(129, 128, 128, 0.7);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.link-hover-solid a:after {
  background-color: #ff6000;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .2s ease-in-out;
  -moz--transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}
.link-hover-solid a:hover:after,
.link-hover-solid a:focus:after {
  width: 100%;
}


#link-hover-solid a {
  display: block;
  /* margin-top: 20%; */
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
#link-hover-solid a:after {
  background-color: #ff6000;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .2s ease-in-out;
  -moz--transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}
#link-hover-solid a:hover:after,
#link-hover-solid a:focus:after {
  width: 100%;
}

img{
object-fit: fill;
width: 100%;
height: 150%;

/* position: relative; */
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.social {display: inline-block;
padding-bottom: 3px;
padding-top: 3px;}
.social a {
display: block;
width: 48px;
height: 48px;
margin: 10px 10px 10px 0;
text-align: center;
color: #000;
background: #fff;
border: 1px solid #ccc;
border-radius: 24px;
box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);

}

.social a:hover {color: #fff;}
.social svg {
margin-top: 7px;
width: 32px;
height: 32px;
}
.instagram a:hover {background:rgb(252, 97, 148);}
.vk a:hover {background: #4a76a8;}
.whatsapp a:hover {background: #50b154;}




.carousel-3d {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

 
.carousel-3d > * {
  flex: 0 0 auto;
}
.carousel-3d figure {
  margin: 0;
  width: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}


.carousel-3d figure img {
  user-select: none;
}


.carousel-3d figure img,
.carousel-3d figure div {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}


.carousel-3d nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}


.carousel-3d nav button {
  flex: 0 0 auto;
  /* margin: -800% 1000% 0 1000%; */
  margin: -80vh 40vw 0 40vw ;
 opacity: 0.5;
  cursor: pointer;
  /* color: #337AB7; */
  color: aliceblue;
  /* background: #BFE2FF; */
  background-color: #4b4a4a;
  /* border: 1px solid #337AB7; */
  padding: 15vh 10px 0px 10px;
  font-weight: bold;
  transition: all .3s ease;
}

.carousel-3d nav button:hover {
  color: #FFF;
  background: #7c7d7d;
}

@media (max-width: 900px) {


  .galerei{
    height: 30vh;
    /* width: 70vw; */
  }

  .carousel-3d figure img{
  /* width: 90vw; */
  width: 50vw;
  /* box-sizing: border-box;
  padding: 0; */
  /* margin-left: -15vw; */
}

.carousel-3d nav button {

margin: -48vh 40vw 0 40vw ;
/* margin: 0vh 0vw; */

padding: 15vh 10px 0px 10px;
/* padding: 0px; */

}

}









